<!DOCTYPE html>
<html>
<!-- this is the main oage for handle bars. Ill wait for sid or Jesse to help me figure out where it'll go in the handle bars -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="title is-1">Doggys R us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
</head>

<body>
    <main class="has-background-grey-light">
        <header class="p-4 has-text-centered block">
            <!-- about us, mission, and contact for things within the nav bar -->
            
            <nav class="navbar" role="navigation" aria-label="main navigation">
                
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <h1 class="title is-3 ">Doggys R Us</h1>
                    </div>
                        <div class="navbar-end">
                            <a href="#about-us" class="navbar-item">About Us</a>
                            <a href="#mission" class="navbar-item">Mission</a>
                            <a href="#services" class="navbar-item"> Services</a>
                            <a href="#contact-us" class="navbar-item">Contact us</a>
                        </div>
                    </div>
                </nav>
        </header>

       
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>