{{!-- this file will contain the total appointments for a user --}}

<div>
    <h1><Strong> here are upcoming appointments:</Strong></h1>
    <h2>{{#each appointment as |appointment|}}</h2>
    {{/each}}
</div>