{{!-- this file will contain the total appointments for a user --}}

<div>
    <h1>Hi {{first_name}} {{last_name}}, here are upcoming appointments:</h1>
    <h2>{{#each appointment as |appointment|}}</h2>
    {{/each}}
</div>