{{!-- this file will contain the total appointments for a user --}}

<div>
    <h1>Hi {{User.first_name}} {{User.last_name}}, here are {{Pet.name}}'s upcoming appointments:</h1>
    <h2>{{#each appointment as |appointment|}}</h2>
</div>