{{!-- this file will contain the total appointments for a user --}}

<div class="container">

    <h1 class="title is-2"><Strong>Here are upcoming appointments:</Strong></h1>
    <h2>{{#each appointments as |appointment|}}</h2>

    {{/each}}
</div>
<a href="/customerDashboard"><button class="button is large">back</button></a>