{{!-- this file will contain the total appointments for a user --}}

<div>
    <h1><Strong>Hi {{first_name}} {{last_name}}</Strong>, here are upcoming appointments:</h1>
    <h2>{{#each appointment as |appointment|}}</h2>
    {{/each}}
</div>