<h1> Hi <Strong>{{first_name}} {{last_name}}</Strong></h1>
<h1>make appointment for your pet?</h1>
<a href="/makeAppointment">Click here to make an appointment</a>
<h1>See all bookings</h1>
{{#each appointment as |appointment|}}
{{/each}}
<a href="/appointments">Click to edit or delete a booking</a>
<button id="logout">Click here to logout</button>
    <script src="./js/logout.js"></script>




