<h1> hi {{customer.first_name}} {{customer.last_name}}</h1>
<h1>make appointment</h1>
<a href="/makeAppointment">Click here to make an appointment</a>
<h1>see bookings</h1>
{{#each appointment as |appointment|}}
{{/each}}
<a href="/appointments">Click to edit or delete a booking</a>





