<h1> hi {{Customer}}</h1>
<h1>make appointment</h1>
<a href="/makeAppointment">Click here to make an appointment</a>
<h1>see bookings</h1>
{{each appointments as |appointment|}}
{{/each}}
<a href="/bookings">Click to edit or delete a booking</a>





