{{!-- so te actual --}}
<main class="has-background-grey-light">
  <header class="p-4 has-text-centered block">
    <!-- about us, mission, and contact for things within the nav bar -->

    <nav class="navbar" role="navigation" aria-label="main navigation">

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <h1 class="title is-3 ">Doggys R Us</h1>
        </div>
        <div class="navbar-end">
          <a href="#about-us" class="navbar-item">About Us</a>
          <a href="#mission" class="navbar-item">Mission</a>
          <a href="#services" class="navbar-item"> Services</a>
          <a href="#contact-us" class="navbar-item">Contact us</a>
        </div>
      </div>
    </nav>
  </header>

  <section class="has-text-centered block">
    <figure><img src="./images/doggo.png" alt="cute dog icon"></figure>
    <a class="button is-primary" id='homeSignup' href="/signup"><strong>Sign up</strong></a>
    <a class="button is-primary" id="homeLogin" href="/login"><strong>Log in</strong></a>
  </section>

  <section id="about-us" class="has-text-centered block has-background-grey-lighter">
    <h2 class="subtitle is 2">About Us</h2>
    <div class="columns block">
      <div class="column">
        <strong>Animal Welfare</strong>
        <p>We made Doggy’RUS for dog lovers. Doggy’R US is a sleek way to schedule your dog for grooming and pampering.</p>
      </div>
      <div class="column">
        <strong>Products</strong>
        <p>We have the best eco-friendly and organic productsto be used on your fur-children.</p>
        <p>Our employess provided loving care for our customers and their pets</p>
      </div>
      <div class="column">
        <strong>Community</strong>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet dolor debitis magni reiciendis dicta quidem
          delectus adipisci illo molestias unde dignissimos alias, impedit error necessitatibus saepe sequi? Quidem,
          adipisci officia?</p>
      </div>
    </div>
  </section>

  <section id="mission" class="has-text-centered block has-background-grey-lighter is-flex-wrap-wrap">
    <h2 class="subtitle is-2">Mission</h2>
    <div class="columns">
      <div class="column is-5">
       After spending countless hours investigating, we have created the perfect formula for all dog types, breeds, and health concerns.
        We use the highest quality, all natural, eco-friendly products to create the best experience for your furries. We are highly trained
         in the safest procedure for your furries and given and A+ rating by the Dog Grooming Association (DGA) 
      </div>
      <div class="column has-text-centered">
        <figure class="image is-128x128"><img src="./images/dog2.jpg" alt="cute dog"></figure>
      </div>
    </div>
  </section>

  <section id="services" class="has-text-centered block has-background-grey-lighter">
    <h2 class="subtitle is-2">Covid Concerns</h2>
    <div class="columns block">
      <div class="column">
        <strong>Dogs</strong>
        <p>Curb side drop off and pickup. Wellness checks are perform on each dog coming in and leaving our facility
          (includes cleansing with baby wipes and freshening spritz)</p>
      </div>
      <div class="column">
        <strong>Employee</strong>
        <p>No employees working with illness

          All employees must stay 6 feet apart

          All front desk employees and multiple

          Canine Coaches in one playroom wear masks</p>
      </div>
      <div class="column">
        <strong>Facility</strong>
        <p>Playrooms are sanitized twice daily from top to bottom using dog-safe cleaning products
          And more!
        </p>
      </div>
    </div>
  </section>
  {{!-- insert dog api here to generate random dog images --}}
  <section id="randomDogs" class="has-text-centered block has-background-grey-lighter">
    <h2 class="subtitle is-2"> Dog of the Day</h2>
    <div>
      <p>List of all of us or something</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit accusantium voluptate quaerat tenetur quod quis
        deleniti soluta. Debitis eum beatae neque ipsum unde temporibus, natus aperiam quisquam doloremque consectetur
        labore!</p>
    </div>
  </section>
  <section id="contact-us" class="has-text-centered block has-background-grey-lighter">
    <h2 class="subtitle is-2"> Contact Us</h2>
    <div>
      <p><strong>Ask Us were to find us. NOT during the project tho</strong></p>
    </div>
  </section>

</main>
<script src="./js/signup.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>