
<section class="has-text-centered block">
    <figure><img src="./images/doggo.png" alt="cute dog icon"></figure>
</section>

<form class="login-form container">
    <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input id="email" class="input" type="email" placeholder="Email">
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input id="password" class="input" type="password" placeholder="Password">
  </p>
</div>
<div class="field">
  <p class="control">
    <button id="loginBtn" class="button is-success box">
      Login
    </button>
  </p>
  <p class="control">
    <button id="signupBtn" class="button is-success box">
      Sign-Up
    </button>
  </p>
</div>
</form>
 <script src="./js/login.js"></script>
