<div class="login-form">
    <form>
        <label for="email">Email:</label>
        <input type="email" class="login" id="email" placeholder="enter email here">
        <label for="password"></label>Password:</label>
        <input type='password' class="login" id="password" placeholder="password">
        <button class='login' id="loginBtn">Login</button>
        <a href= "/customerDashboard"><button class="login" id="signupBtn" type='submit' href="/signup">Sign up</button></a>
    </form>
</div>
    <script src="./js/login.js"></script>
