<div>
    <form class="login-form">  
        <label for="email">Email:</label>
        <input type="email"  id="email-login" placeholder="enter email here">
        <label for="password"></label>Password:</label>
        <input type='password'  id="password-login" placeholder="password">
        <button class='login' type="submit" id="loginBtn">Login</button>
        {{!-- <button  id="signupBtn" type='submit' href="/signup">Sign up</button></a> --}}
    </form>
</div>
    <script src="./js/signup.js"></script>
