
<div class="container">
<h1 class="subtitle is-2"> THanks for booking with us at this {{time}}</h1>
<a  href="/homepage"><button class="button is large">Homepage</button></a>
<a  href="/customerDashboard"><button class="button is large">My Dashboard</button></a>
</div>


    <script src="./js/makeAppointment.js"></script>