<h1> THanks for booking with us at this {{time}}</h1>
<a href="/homepage"><button>Homepage</button></a>
<a href="/customerDashboard"><button>My Dashboard</button></a>

    <script src="./js/makeAppointment.js"></script>